*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./IMG/attack-on-titan-2.jpg);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.primeira{
    box-sizing: border-box;
    border: 5px solid blue;
    padding: 50px;
    float: left;
}

/*.img1{
    widge: 1400px; 
    height: 300px;
    border: 1px solid #8c867c;
    background: #fff url('imagem.png') no-repeat center;
}


.box{
    border: 25px;
    padding: 40px;
    margin: 20px;
}

h1{
    font-family: serif;
    color: #31a420;
    padding: 50px;
    text-align: center;
    
}

/*


.container{
    padding: 2em;
}

a:hover{
    background-color: ;
    }

p::first-line{
        background-color: ;
    }
















      body:after{
        content: "&copy 2022 Todos os direitos reservados";
    }