body{
    /* background-color: #725436; */
    padding: 20px;
    width: 80%;
}

.container{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px; 
    grid-template-areas: 
    "filho1 filho2"
    "filho3 filho4"
    ;
}

h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
}

img{ 
    width: 400px; 
    text-align: center;
    position: relative;
    float: left;
    padding: 20px;
} 

.resumo{
    text-align: center;
    float: right;
    padding: 30px;
}

.video{
    float: left;
    padding: 20px;
}

.trailer{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

.primeiro{
    grid-area: filho1;
}

.segundo{
    grid-area: filho2;
}

.terceiro{
    grid-area: filho3;
}

.quarto{
    grid-area: filho4;
}

footer{
    clear: right;
}
