*{
    background-color: #725436;
}

.container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(5 , 1fr); 
    grid-area: 
    "filho1"
    "filho2"
    "filho3"
    "filho4"
    "filho5"
    ;
}

h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.primeiro{
    grid-area: filho1;
}