

/*columns se refere a colunas, row se refere as linhas*/

/*grid-template-columns e grid-template-rows servem para definir a quantidade, espaçamento, largura... de linhas ou colunas */


.container{
    display: grid;
    border: 2px solid black ;
    grid-template-columns: 80px 80px 80px 80px;  
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: 80px 80px;
    /* column-gap: 10px;
    row-gap: 15px; */
    grid-gap: 10px;
    /* justify-items: start;       
    align-items: end; */
    /* place-items: start; */
    /* justify-content: space-around; */
    align-content: space-between;



    /* grid-template-areas: 
    "pipoca pipoca pipoca pipoca"
    "header header . main"      
    "footer footer footer pipoca2"; */ 
}    /*. indica que naquele lugar não vai haver nenhum filho*/

/* grid-gap é uma abreviação das propriedades row-gap e column-gap */

.item-1{
    /* grid-area: pipoca; */
    border: 1px solid blue;
}

.item-2{
    /* grid-area: header; */
    border: 1px solid red;
}

.item-3{
    /* grid-area: main; */
    border: 1px solid greenyellow;
}

.item-4{
    /* grid-area: footer; */
    border: 1px solid blueviolet;
}

.item-5{
    /* grid-area: pipoca2; */
    border: 1px solid purple;
}*/

