@charset "utf-8";
body {
    color: #000;

 font-family: Arial, Verdana, sans-serif;
}
h1 {
 background-color: SlateBlue1 ;
 color:#4B0082 ;
 font-family: "Georgia", Times New Roman, serif;
 line-height: 200%;
 text-shadow: 5px 5px 7px #cccccc;
 
}
h2 {
 background-color: #aeaed4;
 font-family:"Georgia", Times New Roman, serif;
 text-align: center;
}
p {
    font-size: 0.858em;
    text-indent: 3em;
    font-weight: bold;
   }
   ul {
    color:hsl(270, 100%, 50%);
   }
footer {
 font-family: 'Courier New', Courier, monospace;
 color: rgb(128,128,128);
 font-size: 0.70em;
 font-style: italic;
}