body{
    background-color: #d3a625;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-content: space-between;
}

header{
    display: flex;
    align-self: center;
    border: 1px solid black;
    padding: 15px;
    margin: 25px;
    background-color: #eeba30;
}

h1{
    font-family: sans-serif;
}

img{
    width: 100px;
    height: 100px;
    float: left;
}

div .conteudo{
    border: 1px solid blue;
    background-color: #ae0001;
}

.btn{
    background-color: #740001;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}